.pp-li-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ff385c;
}
.title > h1 {
  text-align: center;
}
.pp-li-top {
  position: relative;
}
.pp-li-top > span {
  color: white;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pp-li-top,
.pp-li-bottom {
  height: 33%;
}

.pp-li-credentials > div {
  margin: auto;
  width: 70%;
}
.pp-li-credentials > div > input {
  padding: 10px;
  width: 100%;
  background: #ff385c;
  border: 0;
  outline: 0;
  border-bottom: solid 1px white;
  margin: 20px 0;
  color: white;
}

.pp-li-container > div > div > input:focus {
  outline: none;
  border: 1px solid white;
  box-shadow: 0 0 5px white;
}

.pp-li-container > div > div > input::placeholder {
  color: white;
  opacity: 1;
}

.pp-li-bottom {
  width: 70%;
  height: 10%;
  border: solid 2px white;
  margin: auto;
  border-radius: 10px;
}
.pp-li-bottom > button {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.pp-li-bottom > button:hover {
  background: white;
  opacity: 0.3;
  color: #ff385c;
}

.pp-li-container > ul {
  list-style-type: none;
}

.pp-li-container > ul > li {
  color: white;
  text-align: center;
}
